body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1E8B8;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }

.bg-img {
    background-image: url('wew.png');
}


  
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9E784;
    padding: 15px 25px;
    border-radius: 40px;
    margin: 25px;
    box-shadow: 2px 6px 2px rgba(0, 0, 0, .1);
    position: sticky;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar .logo span {
    font-size: 1.2em;
    color: #eaeaea;
    background-color: #A8763E;
    padding: 8px 13px;
    border-radius: 20px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .1);
    font-family: "Great Vibes", cursive;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    text-decoration: none;
    color: #5b3b00;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar .menu a:hover{
    color: #A8763E;
}

.navbar .contact-btn {
    background-color: #A8763E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .1);
}

.navbar .contact-btn:hover{
    background-color: #d59e60;
}

.welcome{
    font-size: 7em;
    margin-left: 50px;
    text-align: left;
    font-family: "Inter", sans-serif;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.descript {
    font-size: 3em;
    margin-left: 50px;
    text-align: left;
    font-family: "Inter", sans-serif;
    margin-top: 0;
}

.desboxes {
    display: flex;
    margin-top: 7em;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
}

.desbox {
    background-color: #A8763E;
    border-radius: 30px;
    width: 28em;
    height: 20em;
    padding: 1em;
    margin: 20px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.301);
}

.line{
    margin-top: 2em;
    margin: auto;
    width: 80em;
    height: 3px;
    background-color: #A8763E;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    text-align: center;

}

.viddes {
    background-color: #A8763E;
    border-radius: 30px;
    margin-top: 8em;
    height: 30em;
    margin-left: 50px;
    margin-right: 30px;
    padding: 3em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .301);
}
    


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .menu {
        flex-direction: column;
        gap: 10px;
    }
}
